# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp
*.idb
*.ipdb
*.iobj
*.tlb
*.tli
*.tlh
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.VC.db
*.VC.opendb
*.opensdf
*.sdf
*.opt
*.ncb
*.plg
*.bsc
*.map
*.dep
*.manifest
*.res
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.xrm-ms
*.vsp
*.vspx
*.psess
*.vspf
*.vshost.*
*.vsmdi
*.testsettings
*.coverage
*.trx
*.Web.*
*.pfx
*.snk
*.pubxml
*.publishproj
*.vsx
*.mdf
*.ldf
*.local
*.tmp
*.temp
*.vsix
*.vsixmanifest
*.vsixlangpack
*.vsixsig
*.appx
*.appxbundle
*.appxmanifest
*.appxrecipe
*.pri
*.cer
*.pfx
*.key
*.crt
*.der
*.p7b
*.p7s
*.p7c
*.p7m
*.p7x
*.p7z
*.spc
*.sst
*.stl
*.cat
*.inf
*.ini
*.cfg
*.conf
*.config
*.xml
*.xsd
*.xslt
*.wsdl
*.disco
*.discomap
*.cd
*.cdproj
*.cdxml
*.edmx
*.edmxdiagram
*.dbmdl
*.dbproj
*.sqlproj
*.ssmssln
*.ssmssqlproj
*.datasource
*.ddl
*.dml
*.sql
*.sqlcmd
*.vssettings
*.vstemplate
*.vsdir
*.vsps
*.vsts
*.vst
*.vsw
*.vsx
*.vsct
*.vsix
*.vsmacros
*.vscontent
*.vspackage
*.vsdx
*.vsl
*.vss
*.vsu
*.vswp
*.vsp
*.vspx
*.vspscc
*.vssscc
*.vsscc
*.vsw
*.vsz
*.vstemplate
*.vssettings
*.vsdir
*.vsps
*.vsts
*.vst
*.vsw
*.vsx
*.vsct
*.vsix
*.vsmacros
*.vscontent
*.vspackage
*.vsdx
*.vsl
*.vss
*.vsu
*.vswp
*.vsp
*.vspx
*.vspscc
*.vssscc
*.vsscc
*.vsw
*.vsz
*.vstemplate

# C/C++ specific
*.obj
*.exe
*.dll
*.lib
*.exp
*.ilk
*.pdb
*.idb
*.ipdb
*.iobj
*.tlb
*.tli
*.tlh
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.VC.db
*.VC.opendb
*.opensdf
*.sdf
*.opt
*.ncb
*.plg
*.bsc
*.map
*.dep
*.manifest
*.res
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.xrm-ms
*.vsp
*.vspx
*.psess
*.vspf
*.vshost.*
*.vsmdi
*.testsettings
*.coverage
*.trx
*.Web.*
*.pfx
*.snk
*.pubxml
*.publishproj
*.vsx
*.mdf
*.ldf
*.local
*.tmp
*.temp
*.vsix
*.vsixmanifest
*.vsixlangpack
*.vsixsig
*.appx
*.appxbundle
*.appxmanifest
*.appxrecipe
*.pri
*.cer
*.pfx
*.key
*.crt
*.der
*.p7b
*.p7s
*.p7c
*.p7m
*.p7x
*.p7z
*.spc
*.sst
*.stl
*.cat
*.inf
*.ini
*.cfg
*.conf
*.config
*.xml
*.xsd
*.xslt
*.wsdl
*.disco
*.discomap
*.cd
*.cdproj
*.cdxml
*.edmx
*.edmxdiagram
*.dbmdl
*.dbproj
*.sqlproj
*.ssmssln
*.ssmssqlproj
*.datasource
*.ddl
*.dml
*.sql
*.sqlcmd
*.vssettings
*.vstemplate
*.vsdir
*.vsps
*.vsts
*.vst
*.vsw
*.vsx
*.vsct
*.vsix
*.vsmacros
*.vscontent
*.vspackage
*.vsdx
*.vsl
*.vss
*.vsu
*.vswp
*.vsp
*.vspx
*.vspscc
*.vssscc
*.vsscc
*.vsw
*.vsz
*.vstemplate
*.vssettings
*.vsdir
*.vsps
*.vsts
*.vst
*.vsw
*.vsx
*.vsct
*.vsix
*.vsmacros
*.vscontent
*.vspackage
*.vsdx
*.vsl
*.vss
*.vsu
*.vswp
*.vsp
*.vspx
*.vspscc
*.vssscc
*.vsscc
*.vsw
*.vsz
*.vstemplate

# Build output
Debug/
Release/
x64/
x86/
bin/
obj/
out/
build/
dist/
*.o
*.a
*.so
*.dylib
*.dSYM/
*.gcno
*.gcda
*.gcov

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.pdb
*.ilk
*.idb
*.ipdb
*.iobj

# Temporary files
*.tmp
*.temp
*.log
*.cache
*.pid
*.seed
*.pid.lock